@model Masp.Models.Usuario

@{
    ViewData["Title"] = "Usuario";

    string masp_user = (Model != null && !string.IsNullOrWhiteSpace(Model.Masp)) ? Model.Masp : string.Empty;

    string srcImagem = (Model != null && !string.IsNullOrWhiteSpace(Model.CaminhoFoto)) ? Model.CaminhoFoto : "user.png";
}

@{
    string strMasp = Model != null ? Model.Masp : string.Empty;
}


<hr />


<div class="row">

    @{
        <div class="col-md-3">
                <div class="box-foto">
                    <h5>POLÍCIA PENAL</h5>

                    <img src="~/images/@Html.Raw(srcImagem)" asp-append-version="true">

                    <div class="inputs">
                        <form asp-action="Usuario">
                            @{
                                if (!string.IsNullOrWhiteSpace(strMasp))
                                    @Html.Raw($"<input type='text' name='masp' autofocus placeholder='MASP' value={strMasp} />")
                                    else
                                        @Html.Raw($"<input type='text' name='masp' autofocus placeholder='MASP' />")

                            }

                            <input type="submit" value=">" class="btn-input" />
                        </form>
                    </div>


                    @{
                        if (Model != null)
                        {
                            <div class="links">
                                <a href='/home/ListarArmas?masp_user=@Html.Raw(masp_user)'>Armamento</a>
                                <br />
                                 <a href='/home/ListarCursos?masp_user=@Html.Raw(masp_user)'>Treinamento</a>
                            </div>
                            
                        }
                    }

                </div>

        </div>
    }





    <div class="col-md-6">
        <div style="text-align:center;" class="box-brazao">
            <img src="~/images/brazao-sistema-prisional.png" asp-append-version="true" style="width:300px;height:300px;">
            <div class="col-md-12">

                <div class="row">
                    <div class="col-md-12">
                        <h2>DEPARTAMENTO</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2>PENITENCIÁRIO</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="text-align:center;">
                        @{
                            string strLotacao = "Lotação: ";
                            string strExcolaridade = "Escolaridade: ";

                            if (Model != null)
                            {
                                strLotacao += Model.Lotacao;
                                strExcolaridade += Model.Escolaridade;
                            }

                        }                    
                            <input type="text" name="lotacao" disabled placeholder="Lotação" value="@Html.Raw(strLotacao)" style="width:56%;margin-top:10px;margin-bottom:10px;" />                    
                   
                            <input type="text" name="escolaridade" disabled placeholder="Escolaridade:" value="@Html.Raw(strExcolaridade)" style="width:56%;" />
                    

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
